@import "../configs/variables.scss";
@import "../utility/utility.scss";

.shifts-container {
    position: relative;

    .city-filter {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        border-bottom: 2px solid $Blue50;

        button {
            background-color: transparent;
            padding: 25px 10px;
            margin: 0;
            border: 0;
            cursor: pointer;
            font-size: 22px;
            color: $Blue100;

            &.active {
                color: $Blue;
            }
            &:not(.active) {
                @extend .text-blue-50;
                &:hover {
                    @extend .text-blue-100;
                }
            }
        }
    }

    .shift-group {
        @extend .heading-bold;
        padding: 20px;
        border-bottom: 2px solid $Blue50;
        background-color: $WhiteSmoke;
        .shift-data {
            @extend .thin-heading;
            margin-left: 10px;
        }
    }
    .shifts-group-container {
        > *:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    .shift-details {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
        border-bottom: 2px solid $Blue50;
        .shift-timing {
            .time {
                font-size: 22px;
                color: $Blue500;
            }
            .city {
                margin-top: 5px;
                font-size: 18px;
                color: $Blue100;
            }
        }
        .booking-status {
            margin-left: auto;
            margin-right: 20px;
            font-size: 18px;
            font-weight: bold;
            &.booked {
                color: $Blue500;
            }
            &.overlapping {
                color: $Pink;
            }
            @media screen and (max-width: 320px) {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .btn {
            @media screen and (max-width: 320px) {
                flex-grow: 1;
            }
        }
    }
    .no-shifts {
        margin-top: 100px;
        @extend .text-center, .text-blue-100;
    }
}
