$Green: #16a64d;
$Green500: #55cb82;
$Green100: #caefd8;

$Pink: #e2006a;
$Pink500: #fe93b3;
$Pink100: #eed2df;

$Blue: #004fb4;
$Blue500: #4f6c92;
$Blue100: #a4b8d3;
$Blue50: #cbd2e1;

$White: #f7f8fb;
$WhiteSmoke: #f1f4f8;
